<div id="caixa-gerente" class="container">
    <h1><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z"/>
    </svg>
    Consultar todos os clientes</h1>
    
    <div id="caixa-pesquisa" class="container" >
        <!-- Pesquisa -->
        <form action="" class="row" [formGroup]="ClientForms" (submit)="submit()">
            <div class="col-5">
                <label for="cpf">CPF</label>
                <input id="cpf" type="text" class="form-control" placeholder="000.000.000-00" formControlName="cpf">
            </div>
            <div class="col-5">
                <label for="nome">Nome</label>
                <input id="nome" type="text" class="form-control" placeholder="Nome" formControlName="nome">
            </div>
            <div class="col-2">
                <button type="submit" class=" btn btn-primary">Pesquisar</button> 
            </div>
        </form>  
    </div>


    <div id="caixa-tabela">
        <!--Tabela de todos os clientes-->
        <table class="table table-striped">
            <thead>

                <!--Metadados-->  
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>                   
                    @for (cliente of clientesPesquisados; track cliente.id) {
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.saldo }}</td>
                        <td>{{ cliente.cidade }}</td>
                        <td>{{ cliente.estado }}</td>
                    </tr>
                    
                    } @empty {
                        <p>Não há nenhum cliente cadastrado no sistema ainda</p>
                    }
                </tbody>        
        </table>
    </div>
</div>